<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>Expert Dashboard</title>

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <!-- Our Custom CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css" />

  <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
<img src="./image/loader.svg" id="loader" class="loading-image hidden" />  
    <div class="wrapper">
      <table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Parent Name</th>
            <th>Email</th>
            <th>mobileNumber</th>
            <th>Chat area</th>
            <th>Messages</th>
            <th>Chat Started Date</th>
            <th>Assign Expert</th>
        </tr>
    </thead>
    <tbody id="chatroom">
    </tbody>
</table>
    </div>

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    
  <!-- Bootstrap Js CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>

  <script src="<%- configPath %>"></script>
  <script src="<%- jsPath %>"></script>
</body>

</html>