<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-signin-client_id" content="142158595565-hbjpfcg397mgq43tbr877ri023pkhd8a.apps.googleusercontent.com">
    <title>Login</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="./css/login.css" />
</head>

<body>
    <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
          <img src="./image/mai_logo.png" alt="Mai-logo" style="margin-bottom:20px;"/>
            <h5 class="card-title text-center">Sign In</h5>
            <!-- <form class="form-signin"> -->
              <button class="btn btn-lg btn-google btn-block text-uppercase" id="googleSignIn"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
            <!--</form> -->
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script src="https://apis.google.com/js/platform.js?onload=onLoadGoogleCallback" async defer></script>

    <script src="./js/scripts.js"></script>


    <script>
        function onLoadGoogleCallback(){
            gapi.load('auth2', function() {
                auth2 = gapi.auth2.init({
                client_id: '142158595565-hbjpfcg397mgq43tbr877ri023pkhd8a.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin',
                scope: 'profile'
                });

            auth2.attachClickHandler(element, {},
                function(googleUser) {
                    let token = googleUser.getAuthResponse().id_token;
                    let email = googleUser.getBasicProfile().getEmail()
                    let jsonData = {
                        email: email,
                        token: token
                    };
                    
                    $.ajax({
                        url: "https://mai.family/api/v1/user/authenticate/admin",
                        type: "post",
                        contentType: 'application/json',
                        data: JSON.stringify(jsonData),
                        success: function (data) {
                            localStorage.setItem('data', JSON.stringify({
                            "token": data.data.apiToken,
                            "timestamp": new Date().getTime()
                            }));

                            window.location.href = '/dashboard';
                        },
                        error: function (jqxhr) {
                            console.log(JSON.parse(jqxhr.responseText).error.message);
                            alert(JSON.parse(jqxhr.responseText).error.message);
                        }
                    });
                }, function(error) {
                    console.log('Sign-in error', error);
                    alert("Something went wrong...")
                }
                );
            });

            element = document.getElementById('googleSignIn');
        }
    
    </script>

</body>

</html>
