<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Sanity Testing</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css" />

    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body id="bodyContent">
    <img src="./image/loader.svg" id="loader" class="loading-image" />
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3 id="ruleLabel">Rules <label style="font-size:14px;">(Test Server)</label></h3><br>
                <h5>Total Issues &nbsp; : &nbsp;<label class="issueCount">0</label></h5>
            </div>
            <div>
                <ul class="list-unstyled components" id="tableHeaders"
                    style="height: 500px;overflow:hidden;overflow-y: scroll;"></ul>
            </div>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>

                        <button type="button" id="logout" class="btn navbar-btn">
                            <i class="glyphicon glyphicon-log-out"></i>
                            <span>Logout</span>
                        </button>

                        <button type="button" id="refresh" class="btn navbar-btn">
                            <i class="glyphicon glyphicon-refresh"></i>
                            <span>Refresh</span>
                        </button>
                    </div>
                </div>
            </nav>
            <div class="content-heading">
                <div style="padding-top:50px;padding-left:50px;color:black;">
                    <h2>Sanity Testing</h2>
                    <p>Please select Rule</p>
                </div>

                <div id="chartContainer" style="height: 350px; width: 100%;"></div>
            </div>
            <div id="mainTableContent" class="container" style="padding-left:30px;">

            </div>
        </div>
    </div>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js">
    </script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script src="./js/sanity-testing.js"></script>
</body>

</html>